<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2 class="text-center">Android Studio Dialog Bug
                <br>
                <small>May 29th, 2016</small>
            </h2>
            <hr>
             <p><small>FYI: I'm using v1.5 and a Mac</small></p>
            <p>If Android Studio is in full screen mode and you have a dialog box open (e.g. the Generate Signed APK dialog) then go to another screen (by swiping or CMD + tab), then go back to the IDE you'll notice it seems to be locked up.</p>

            <p>The dialog box is hidden and you'll pretty much be unable to use the IDE. I found that if I use CMD + W. It'll close the dialog box and unlock the IDE (however this will lose any progress made in the dialog box). This is a <a target="_blank" href="https://code.google.com/p/android/issues/detail?id=207439"> known issue</a>.</p>
            <hr>
        </div>
    </div>
</div>