<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2 class="text-center">JSON Schema Sanitizer
                <br>
                <small>July 15th, 2016</small>
            </h2>
            <hr>
            <p>This library is written in python. It takes an object that is suppose to abide to some <a href="http://json-schema.org/" target="_blank">JSON Schema</a> and converts the object's values to match the data formats provided in the schema. It's still a work in progress. :)</p>
            <p>Get the library <a href="https://github.com/rachiebytes/jsonschema_sanitizer" target="_blank">here</a>!</p>
            <hr>
        </div>
    </div>
</div>