<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2 class="text-center">Computer Science Program
                <br>
                <small>January 26th, 2016</small>
            </h2>
            <hr>
            <p>I created my own completely free computer science program. I am still working through it and plan to complete it by the middle of 2017.</p>
            <p>I graduated from George Mason University in August of 2014 with a degree in Economics but wanted to be a Software Developer. I landed a job as a Junior Dev 6 months after graduating, but for the entire year of 2015 I felt like I lacked all the fundamentals of computer science. I wanted to go back to school but after getting frustrated with high tuition costs (I already had enough debt from my first bachelors), I turned to free online courses via coursera, MIT, iTunes U, etc. I hope someone else finds this program fun and useful!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <hr>
            <small><i class="fa fa-fw fa-check"></i> Indicates classes I've completed</small>
            <hr>
        </div>
        <div class="col-lg-12">
            <h4>Introduction to Computer Science <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://itunes.apple.com/us/itunes-u/introduction-to-computer-science/id341597455?mt=10">Introduction to Computer Science and Programming</a></li>
                </ul>

             <h4>Object Oriented Programming <small>UC San Diego</small> <i class="fa fa-fw fa-check"></i> </h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/learn/object-oriented-java">Object Oriented Programming in Java</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Head-First-Design-Patterns-Freeman/dp/0596007124">Head First: Design Patterns</a></li>
                            <li><a target="_blank" href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/">Design Patterns: Elements of Reusable Object-Oriented Software</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Operating Systems and System Programming <small>UC Berkeley</small></h4>
                <ul>
                    <li><a target="_blank" href="https://itunes.apple.com/us/itunes-u/cs-162-spring-2008-operating/id461112891?mt=10">Operating Systems and System Programming</a></li>     
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Operating-Systems-Principles-Thomas-Anderson/dp/0985673524">Operating Systems: Principles and Practice</a></li>
                        </ul>
                    </li> 
                </ul>

            <h4>Data Structures <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-851-advanced-data-structures-spring-2012/">Advanced Data Structures</a></li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="http://interactivepython.org/runestone/static/pythonds/SortSearch/Hashing.html">Hashing</a></li>
                        </ul>
                    </li>

                </ul>

            <h4>Computer Networks <small>Freed-Hardeman University</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://itunes.apple.com/us/course/computer-networks/id502504690">Computer Networks</a></li>
                </ul>

            <h4>Algorithms <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/">Introduction to Algorithms</a></li>
                </ul>

            <h4>Computer Graphics <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-837-computer-graphics-fall-2012/">Computer Graphics</a></li>
                </ul>

            <h4>Human Computer Interaction <small>UC San Diego</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/learn/human-computer-interaction">Human-Centered Design: An Introduction</a></li>
                </ul>

            <h4>Assembly Language <small>Lectures on YouTube</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.youtube.com/playlist?list=PL4C2714CB525C3CD7">YouTube - Hitesh Kumar</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Assembly-Language-Step-Step-Programming/dp/0470497025">Assembly Language Step-by-Step: Programming with Linux</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Compilers <small>Stanford</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/course/compilers">Compilers</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Compilers-Principles-Techniques-Tools-2nd/dp/0321486811">Compilers: Principles, Techniques, and Tools</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Theory of Computation <small>Georgetown University</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://people.cs.georgetown.edu/~cnewport/teaching/cosc545-spring16/">Theory of Computation</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Introduction-Theory-Computation-Michael-Sipser/dp/113318779X">Introduction to the Theory of Computation</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Security and Cryptography <small>Stanford</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://class.coursera.org/crypto-015/lecture">Cryptography I</a></li>
                    <li><a target="_blank" href="https://www.coursera.org/course/crypto2">Cryptography II</a></li>
                </ul>

<!--             <h4>Cybersecurity <small></small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="">Some Class Here</a></li>
                </ul> -->

            <h4>Data Mining <small>Stanford</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://class.coursera.org/mmds-002">Mining Massive Datasets Course</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://infolab.stanford.edu/~ullman/mmds/book.pdf">Mining Massive Datasets</a></li> 
                        </ul>
                    </li>
                </ul>

            <h4>Computer Systems Organizations <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-033-computer-system-engineering-spring-2009/">Computer System Engineering</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Computer-Systems-Programmers-Perspective-Edition/dp/0136108040">Computer Systems: A Programmer's Perspective</a></li>
                        </ul>
                    </li> 
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="http://www.learning-about-computers.com">Learning About Computers</a></li>
                        </ul>
                    </li>  
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">math</h2>
            <hr>
        </div>
        <div class="col-lg-12">

            <h4>Discrete Mathematics <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2005/">Mathematics for Computer Science</a></li>
                </ul>

            <h4>Calculus <small>The Ohio State University</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/learn/calculus1">Calculus One</a></li>
                    <li><a target="_blank" href="https://www.coursera.org/learn/advanced-calculus">Calclus Two: Sequences and Series</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Thomas-Calculus-12th-George-Jr/dp/0321587995">Thomas' Calculus</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Differential Equations <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/mathematics/18-03sc-differential-equations-fall-2011/index.htm">Differential Equations</a></li>
                </ul>

            <h4>Linear Algebra <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/mathematics/18-06sc-linear-algebra-fall-2011/">Linear Algebra</a></li>
                </ul>

            <h4>Introduction to Statistics <small>Udacity</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.udacity.com/course/intro-to-statistics--st101">Intro to Statistics</a></li>
                </ul>

            <h4>Probability <small>University of Pennsylvania</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/course/probability">Probability</a></li>
                </ul>
                
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">electronics</h2>
            <hr>
        </div>
        <div class="col-lg-12">
            <h4>Circuits and Eletronics <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-002-circuits-and-electronics-spring-2007/">Circuits and Eletronics</a></li>
                </ul>

            <h4>Signals and Systems <small>MIT</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-003-signals-and-systems-fall-2011/index.htm">Signals and Systems</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/0138147574">Signals and Systems</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Logic <small>Stanford</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/course/intrologic">Introduction to Logic</a></li>
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">web dev specialization
            </h2>
            <hr>
        </div>
        <div class="col-lg-12">
            <h4>HTML/CSS <small>Codecademy</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.codecademy.com/learn/web">Codecademy HTML & CSS</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/HTML-CSS-Design-Build-Websites/dp/1118008189">HTML & CSS: Design and Build Websites</a></li>
                        </ul>
                    </li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="http://www.w3schools.com/html/">W3Schools HTML</a></li>
                            <li><a target="_blank" href="http://www.w3schools.com/css/">W3Schools CSS</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>JavaScript <small>Codecademy</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.codecademy.com/learn/javascript">Codecademy JavaScript</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/gp/product/0596805527">JavaScript: The Definitive Guide: Activate Your Web Pages (Definitive Guides)</a></li>
                        </ul>
                    </li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="http://www.w3schools.com/js/">W3Schools JavaScript</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Python <small>Codecademy</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.codecademy.com/learn/python">Codecademy Python</a></li>
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">mobile dev specialization
            </h2>
            <hr>
        </div>
        <div class="col-lg-12">
            <h4>Java/Android/Android Studio <small>Vanderbilt University</small></h4>
                <ol class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/learn/java4android">Java for Android</a> <i class="fa fa-fw fa-check"></i></li>
                    <li><a target="_blank" href="https://www.coursera.org/learn/androidapps">Android App Components and Data Persistence</a></li>
                    <li><a target="_blank" href="https://www.coursera.org/learn/badaap">Building and Deploying Android App Projects</a></li>
                    <li><a target="_blank" href="https://www.coursera.org/learn/engineeringandroidapps">Engineering Maintainable Android Apps</a></li>
                    <li><a target="_blank" href="https://www.coursera.org/learn/aadcapstone">Capstone MOOC for "Android App Development" - Need to pay for class</a></li>
                </ol>
                <ul>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="http://www.amazon.com/Learning-Java-Building-Android-Games/dp/1784398853">Learning Java by Building Android Games</a></li>
                        </ul>
                    </li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="https://www.codecademy.com/learn/learn-java">Codecademy Java</a></li>
                        </ul>
                    </li>

                </ul>

            <h4>Swift/iOS <small>Stanford</small> <i class="fa fa-fw fa-check"></i> </h4>
                <ul class="course-list">
                    <li class="completed"><a target="_blank" href="https://itunes.apple.com/us/course/developing-ios-8-apps-swift/id961180099">Developing iOS 8 Apps with Swift</li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="http://appventure.me/2015/10/17/advanced-practical-enum-examples/">Advanced & Practical Enum usage in Swift</a></li>
                            <li><a class="in-progress" target="_blank" href="https://developer.apple.com/library/mac/documentation/Swift/Conceptual/Swift_Programming_Language/index.html">Swift Programming Lanuage</a></li>
                            <li><a class="completed" target="_blank" href="https://www.youtube.com/channel/UCuD-wbMZDn2C2_GwcMqterg">YouTube - Tuts: Skip Wilson</a></li>
                            <li><a target="_blank" href="">Xcode</a></li>
                            <li><a target="_blank" href="">Testing</a></li>
                            <li><a target="_blank" href="">Cocoa Pods</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">just for fun
                <strong>&& good to know</strong>
            </h2>
            </h2>
            <hr>
        </div>
        <div class="col-lg-12">
            <h4>Rasberry Pi <small>University of California, Irvine</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.coursera.org/learn/raspberry-pi-platform">The Rasberry Pi Platform and Python Programming for the Rasberry Pi</a></li>
                    <li>Helpful links:
                        <ul>
                            <li><a target="_blank" href="https://www.raspberrypi.org">rasberrypi.org</a></li>
                        </ul>
                    </li>
                </ul>

            <h4>Git <small>Codecademy</small></h4>
                <ul class="course-list">
                    <li><a target="_blank" href="https://www.codecademy.com/learn/learn-git">GIT</a></li>
                    <li>Recommended Books:
                        <ul>
                            <li><a target="_blank" href="https://git-scm.com/book/en/v2">Pro Git</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>