<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2 class="text-center">OS X File Permissions
                <br>
                <small>June 10, 2016</small>
            </h2>
            <hr>
            <h3>Quick Version</h3>
            <ul>
                <li><code>chmod 741 sometext.txt</code>
                    <ul>
                        <li>The first column sets permissions for owner <code><b>|7|</b>41</code></li>
                        <li>The second column sets permissions for group <code>7<b>|4|</b>1</code></li>
                        <li>The third column sets permissions for other <code>74<b>|1|</b></code></li>
                        <li>The read, write, and execute permissions are constructed from the sum of the following values:
                            <ul>
                                <li><b>4</b> allows read rights</li>
                                <li><b>2</b> allows write rights</li>
                                <li><b>1</b> allows execute rights</li>
                            </ul>
                        </li>
                        <li>The sum of all three values is 7 indicating permission to read, write, and execute the file.</li>
                    </ul>
                </li>
                <li><code>chmod 400 sometext.txt</code> would set the permissions of the owner to read only and not give any permissions to group or other.</li>
             </ul>
            <hr>
            <h3>Detailed Version</h3>

            <h5 class="list-heading"><b>Permissions Terminology</b></h5>
            <ol>
                <li>Open the terminal</li>
                <li>Type <code>cd /</code></li>
                <li>Type <code>ls -l</code></li>
                <li>You should get a list of files</li>
                <li>Let's break apart the first column. This is called the <b>file mode</b> and should look something like: <code>drwxr-xr-x@</code></li>
            </ol>
            <ul>
                <li><code>d</code> - this part is called the <b>entry type</b>. This character describes the type of file:
                    <ul>
                        <li><code>b</code> block special file</li>
                        <li><code>c</code> character special file</li>
                        <li><code>d</code> directory</li>
                        <li><code>l</code> symbolic link</li>
                        <li><code>s</code> socket link</li>
                        <li><code>p</code> FIFO</li>
                        <li><code>-</code> regular file</li>
                    </ul>
                </li>
                <li><code>rwxr-xr-x</code> - permissions
                    <ul>
                        <li><code>rwx</code> - <b>owner permissions</b>

                        </li>
                        <li><code>r-x</code> - <b>group permissions</b>

                        </li>
                        <li><code>r-x</code> - <b>other permissions</b>

                        </li>
                        <li>Each of the permission fields have three character positions:
                            <ul>
                                <li><code>r</code> - the file is <b>readable</b>, if not it is denoted as <code>-</code>
                                <li><code>w</code> - the file is <b>writable</b>, if not it is denoted as <code>-</code>
                                <li><code>x</code> - this position can take on different characters: 
                                    <ul>
                                        <li><code>S</code> If in the owner permissions, the file is not executable and set-user-ID mode is set.  If in the group permissions, the file is not executable and set-group-ID mode is set.</li>
                                        <li><code>s</code> If in the owner permissions, the file is executable and set-user-ID mode is set.  If in the group permissions, the file is executable and setgroup-ID mode is set.</li>
                                        <li><code>x</code> The file is executable or the directory is searchable.</li>
                                        <li><code>-</code> The file is neither readable, writable, executable, nor set-user-ID nor set-group-ID mode, nor sticky.</li>
                                    </ul>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><code>@</code> - this field could potentially be empty
                    <ul>
                        <li>If the field is empty, the file uses the standard set of owner/group/other
                        <li><code>@</code> - indicates the file has <b>extended attributes</b></li>
                        <li><code>+</code> - indicates the richer permission model (access control lists)</li>
                    </ul>
                </li>
            </ul>
            <small>More details regarding the long format can be found by opening the terminal and typing: <code>man ls</code></small>

            <br/>
            <br/>
            <h5 class="list-heading"><b>Setting the permissions</b></h5>
            <ul>
                <li><code>cd ~</code></li>
                <li><code>vim test.txt</code> 
                    <ul> 
                        <li><code>:wq</code> then press enter to save the file</li>
                    </ul>
                </li>
                <li><code>chmod 777 test.txt</code> would set read, write, and execute permissions to owner, group, and other
                    <ul>
                        <li>The first column in <code><b>|7|</b>77</code> sets permissions for owner</li>
                        <li>The second column <code>7<b>|7|</b>7</code> sets permissions for group</li>
                        <li>The third column <code>77<b>|7|</b></code>  sets permissions for other</li>
                        <li>The read, write, and execute permissions are constructed from the sum of the following values:
                            <ul>
                                <li><b>4</b> allows read rights</li>
                                <li><b>2</b> allows write rights</li>
                                <li><b>1</b> allows execute rights</li>
                            </ul>
                        </li>
                        <li>The sum of all three values is <b>7</b> indicating permission to read, write, and execute the file. If you want read only then the sum would be <b>4</b>.</li>
                    </ul>
                </li>
                <li>Let's make the file read only for owner and give no permissions to group or other. 
                    <ul>
                        <li><code>chmod 400 test.txt</code></li>
                        <li><code>ls -l</code> 
                            <ul>
                                <li>the <b>file mode</b> should look something like <code>-r--------</code></li>
                            </ul>
                        </li>
                        <li>Go ahead and try editing the file: <code>vim test.txt</code></li>
                        <li>You'll notice that the file isn't writable, that's because we set permissions to read only!</li>
                    </ul>
                </li>
                <li>It's worth noting you can set user-id and group-id permissions, to find more information regarding that: <code>man chmod</code></li>
            </ul>
            <hr>
        </div>
    </div>
</div>